body {
    background-color: #00ffff;
    color: black;
    font-family: "SUSE", sans-serif;
    display:flex ;
    justify-content: center;
    align-items: center;  
    height: 700px;
    margin: 0;     
}

button{ background-color: antiquewhite;
    color: white;
    font-family: "SUSE", sans-serif;

}
   