body {
    background-color: #00ffff;
    color: black;
    font-family: "Sevillana", cursive;
    display:flex ;
    justify-content: center;
    align-items: center;  
    height: 700px;
    margin: 0;     
}

button{
    background-color: antiquewhite;
    color: white;
    font-family: "Sevillana", cursive;
}