body {
    background-color: rgb(50, 126, 156);
    color: rgb(14, 6, 6);
    font-family: "Roboto", sans-serif;
    display:flex ;
    justify-content: center;
    align-items: center;  
    height: 700px;
    margin: 0;     
}

button{ background-color: antiquewhite;
    color: rgb(245, 25, 153);
    font-family: "SUSE", sans-serif;

}

   .passo{
    display: none;
   }

   .passo.ativo{
    display:block;
   }

   main{
    text-align: center;
    max-width: 90%;
   }

   img{
    max-width: 90%;
   }